.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;

  &__header {
    background-color: #0f8fee;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &__table-cell {
    border: 1px solid #333;
    padding: 3px;

    &_header {
      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
